/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

head{
    text-align: center;
}
title{
    text-align: center;
}

body{
    background-color: lightblue;

    font-family: "Roboto", sans-serif;
}

main{
    background-color: lightblue;
    text-align: center;
    text-shadow:2px 1px 5px #000000;
}

header.primary h1{
    font-size: 3.5rem;
    margin: 20px 0;
}

header.primary h1 a{
    color: #ffffff; 
}

