/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

head{
    text-align: center;
}
title{
    text-align: center;
}

body{
    background-color: lightblue;

    font-family: "Roboto", sans-serif;
    margin: 0;
}

main{
    background-color: lightblue;
    
    text-shadow:2px 1px 5px #000000;
}

header.primary{
    text-align: center;
}
header.primary h1{
    font-size: 3.5rem;
    margin: 20px 0;
}

header.primary h1 a{
    color: #ffffff; 
    text-decoration: none;
}

header.primary h2{
    font-size: 1.5rem;
}
/* nav.primary{

} */
nav.primary ul{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
nav.primary ul li{
    list-style-type:none;
}
nav.primary ul li a{
    color: #ffffff;
    text-decoration:none;
    border: 1px solid #fff;
    padding: 7.5px 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 20px;
}

