/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    background-color: lightblue;

   /* font-family: "Roboto", sans-serif;*/
    font-family: Rockwell Extra Bold,Rockwell Bold,monospace; 
}

main{
    background-color: lightblue;
    text-align: center;
    text-shadow:2px 1px 5px #000000;
}

label{
    text-align: center;
}
